<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人博客</title>
    <link rel="stylesheet" type="text/css" href="./css/base.css">
    <link rel="stylesheet" type="text/css" href="./css/about.css">
	<script type="text/javascript" src="js/vue-2.6.3.js"></script>
	<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
</head>
<body>
	<header class="header">
		<div class="container">
			<a href="/" class="title">我的个人博客 | 技术博客</a>
			<ul class="menu">
				<li><a href="/">首页</a></li>
				<li><a href="/sitemap.html">地图</a></li>
				<li><a href="/about.html">关于</a></li>
				<li><a href="/guestbook.html">留言</a></li>
			</ul>
			<div class="search_bar">
				<input type="text" name="" placeholder="输入关键词查找">
				<button>搜索</button>
			</div>
		</div>
	</header>
	<div class="content">
		<div class="content_left">
			<div class="description">
				<div class="about_title">关于我</div>
				<p>
					博主郑晓，zx，性别男，山东青岛即墨区人。<br><br>

					会修电脑的野生程序员<br>
					认为PHP是世界上最好的语言<br>
					花括号不换行<br>
					6年PHP开发<br>
					电商行业<br>
					树莓派、物联网<br>
					专业爬墙<br><br>

					我的书单：https://book.douban.com/people/58553308/<br>
					我的知乎：https://www.zhihu.com/people/zheng-xiao-93-51/activities
				</p>
				<div class="about_title">关于博客</div>
				<p>
					从2009年 – 今<br>
					博主很懒加词穷，佛系更新…<br>
					域名 zhengoo.cn -> zh30.com<br>
					程序 tcms -> WordPress<br>
					服务器 免费空间 -> 国内某收费空间 -> 国外vps -> 阿里云<br><br>

					推荐便宜又稳定的xen-VPS吧: HostShare<br>
					kvm vps:hostEONS 洛杉矶节点，我在用，速度可以，可以干一些羞羞的事。
				</p>
			</div>
			<div class="blog_comments" id="blog_comments">
				<span class="blog_comments_msg">关于：目前有{{total}} 条留言</span>
				<div class="blog_comment" v-for="(comment, index) in comments" :key="index">
					<span> <b>{{comment.name}}</b>：{{comment.options}} 发表于 {{comment.ctime}} <a v-on:click="reply(comment.id, comment.name)">[回复]</a></span>
					<div>{{comment.content}}</div>
				</div>
			</div>
			<div class="send_comments" id="send_comments">
				<span>发表评论</span>
				<div>
					<input type="hidden" id="comment_reply" value="-10">
					<input type="hidden" id="comment_reply_name" value="">
					<input type="text" placeholder="呢称" id="comment_name">
					<input type="text" placeholder="邮箱（评论被回复时你能收到通知）" id="comment_email">
				</div>
				<div>
					<textarea placeholder="无意义的内容我可能不会回复你" id="comment_content" cols="30" rows="10"></textarea>
				</div>
				<div>
					<input type="text" placeholder="验证码" id="comment_code">
					<span v-html="vcode" v-on:click="changeCode()"></span>
				</div>
				<button v-on:click="sendComment">提交评论</button>
			</div>
		</div>
		<div class="content_right">
			<div class="right_module" id="random_tags">
				<div>随机标签云</div>
				<a v-for="(tag, index) in tags" :key="index" v-bind:style="{color: randomColor(), fontSize: randomSize()}" :href="'/?tagId=' + tag.id">{{tag.tag}}</a>
			</div>
			<div class="right_module" id="new_hot">
				<div>最近热门</div>
				<ul>
					<li v-for="(hot, index) in hotList" :key="index"><a v-bind:href="'/blog_detail.html?bid=' + hot.id">{{hot.title}}</a></li>
				</ul>
			</div>
			<div class="right_module" id="new_comments">
				<div>最新评论</div>
				<ul>
					<li v-for="(comment, index) in commentList" :key="index">
						<div>
							<span>{{comment.user_name}}</span>
							<span class="pull_right">[{{comment.ctime}}]</span>
						</div>
						<p><a href="#">{{comment.comments}}</a></p>
					</li>
					<!-- <li>
						<div>
							<span>阿杰学长</span>
							<span class="pull_right">[1周前]</span>
						</div>
						<p><a href="#">你好，启用ssl代理是SSL Pro赵晨阳</a></p>
					</li> -->
				</ul>
			</div>
			<div class="right_module">
				<div>友情链接</div>
				<span><a href="#">挨踢茶馆</a></span>
				<span><a href="#">挨踢茶馆</a></span>
				<span><a href="#">挨踢茶馆</a></span>
				<span><a href="#">佛布朗斯基</a></span>
				<span><a href="#">佛布朗斯基</a></span>
				<span><a href="#">佛布朗斯基</a></span>
				<span><a href="#">挨踢茶馆</a></span>
				<span><a href="#">挨踢茶馆</a></span>
				<span><a href="#">挨踢茶馆</a></span>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<div class="link">
				<a href="#">C/C++</a>
				<a href="#">CSS/DIV</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">java</a>
				<a href="#">Linux</a>
				<a href="#">Linux</a>
				<a href="#">Linux</a>
				<a href="#">Linux</a>
				<a href="#">Linux</a>
				<a href="#">Linux</a>
				<a href="#">Linux</a>
				<a href="#">Linux</a>
			</div>
			<p>
				Copyright © 2010-2017 郑晓个人博客 All rights reserved. 由免费开源的WordPress强力驱动. 鲁ICP备14017955号站长统计
			</p>
		</div>
	</footer>
	<script type="text/javascript" src="./js/about.js"></script>
	<script type="text/javascript" src="./js/base.js"></script>
</body>
</html>