*{
	padding: 0;
	margin: 0;
}
input{
	border: 0;
}
.none{
	display: none;
}
.cash-desk{
	position: relative;
	width: 100%;
	height: 680px;
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.cash-desk .wrapper{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-410px, -50%);
}
.cash-desk .wrapper > p{
	margin-bottom: 10px;
	color: #fff;
	font-size: 30px;
}
.keyboard{
	width: 630px;
	height: 484px;
	background: #fff;
	border: 8px solid #e7e7e7;
	border-radius: 4px;
}
.keyboard input{
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: right;
	font-size: 46px;
	color: #24c890;
}
.keyboard th{
	border-bottom: 8px solid #e7e7e7;
}
.keyboard table{
	width: 100%;
	height: 484px;
	text-align: center;
	font-size: 24px;
	user-select: none;
}
.keyboard td{
	width: 25%;
	border: 1px solid #e7e7e7;
	border-top: 0;
	border-right: 0;
	color: #6b6868;
	font-size: 38px;
	cursor: pointer;
}
.keyboard i{
	display: inline-block;
	font-style: normal;
	font-size: 30px;
}
i.icon{
	display: inline-block;
	background-image: url('../img/icon.png');
	background-size: 200px 200px;
}
.keyboard i.icon{
	width:31px;
	height:32px;
	background-position:-75px -16px;
}
.keyboard label{
	font-size: 30px;
	cursor: pointer;
}
.cash-desk .pay-btn{
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 50px;
	margin-left: 666px;
	height: 500px;
	line-height: 100px;
	padding: 150px 52px;
	box-sizing: border-box;
	background: #24c890;
	color: #fff;
	font-size: 48px;
	border-radius: 4px;
	cursor: pointer;
}
.code-mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	z-index: -1;
	transition: all .2s linear;
}
.code-mask.active{
	z-index: 1;
}
.code-mask .code{
	width: 850px;
	height: 124px;
	margin: 170px auto;
}
.code-mask .code p{
	margin-bottom: 10px;
	color: #fff;
	font-size: 30px;
}
.code-mask .code input{
	width: 830px;
	height: 50px;
	padding: 10px;
	font-size: 30px;
}
.pay-result{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -228px;
	width: 800px;
	height: 456px;
	background: #fff;
	border-radius: 4px;
	text-align: center;
}
.pay-result i.success-icon{
	width:65px;
	height:65px;
	background-position:-103px -74px;
}
.pay-result i.fail-icon{
	width:65px;
	height:65px;
	background-position:-25px -74px;
}
.pay-result .icon-p{
	margin: 68px 0 30px;
}
.pay-result p{
	font-size: 30px;
	color: #5c5c5c;
}
.pay-result .tip{
	margin-top: 10px;
	font-size: 24px;
	color: #8b8a8a;
}
.pay-result span{
	display: inline-block;
	width: 195px;
	height: 50px;
	margin-top: 88px;
	text-align: center;
	line-height: 50px;
	border-radius: 4px;
	font-size: 28px;
	cursor: pointer;
}
.pay-result span.order{
	margin-right: 40px;
	color: #a2a2a2;
	border: 1px solid #a2a2a2;
}
.pay-result span.repay{
	color: #fff;
	background: #24c890;
}
.pay-result svg{
	margin: 100px 0 30px;
}
.pay-result circle, .pay-result path{
	fill:transparent;
	stroke: #fff;
	stroke-width: 5px;
	stroke-linecap: round;
}
.pay-result circle{
	stroke:rgb(36, 200, 144);
}
/*input{
	-webkit-appearance: none;
 	-moz-appearance: none;
 	-o-appearance: none; 
 	appearance: none;
 }
.container{
	width: 80%;
	margin: 0 auto;
}
.input-wrap{
	position: relative;
	width: 100%;
	margin: 20px 0;
}
.input-wrap > label{
	display: inline-block;
	width:120px;
	padding-top:3px;
	font-size: 24px;
}
.input-wrap input.text-input{
	position: absolute;
	top: 0;
	left: 120px;
	width: 80%;
	height: 38px;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;  
	-webkit-box-sizing: border-box; 
	font-size: 24px;
}
.input-wrap input.pay-status{
	padding-left: 0;
	border: 0;
	color: #f00;
}
.input-wrap input.btn-input{
	float: right;
	height: 38px;
    padding: 10px;
}
.radio-wrap{
	position: absolute;
	top: 0;
	left: 120px;
	display: inline-block;
	width: 80%;
	font-size: 24px;
}
.radio-wrap input{
	width: 20px;
	height: 18px;
}
.radio-wrap input:not(:first-child){
	margin-left: 30px;
}
.pay-btn{
	margin-top:100px;
	text-align: center;
}
.pay-btn input{
	width:60%;
	height:40px;
	background: #e97608;
	border: 0;
	border-radius: 4px;
	font-size: 20px;
	color: #fff;
}

.keyboard-wrap{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
}
.keyboard-wrap table{
	width: 100%;
	height: 400px;
	border-top: 1px solid #ddd;
	text-align: center;
	font-size: 24px;
}
.keyboard-wrap td{
	width: 33%;
	border: 1px solid #ddd;
	border-top: 0;
	border-right: 0;
}
.keyboard-wrap td.bg{
	background: #d3d9df;
}*/